@model bool
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="~/css/authorization/style.css">

</head>
<body>
    <div class="content">
        <form class="registration" method="post">
            <h2>авторизация</h2>
            <p>введите логин</p>
            <input type="text" name="login">
            <p>введите пароль</p>
            <input type="text" name="pas">
            <input type="submit" value="Отправить" />
        </form>
    </div>
</body>
</html>