@using BV411.Models.Entities
@model List<Product>

@foreach(var danik in Model)
{
    <h2>@danik.Id</h2>
    <h1><a href="@danik.Linq@danik.Id"> @danik.Name</a></h1>
    <h3><a href="https://localhost:7213/danials/AddToBasket/0/@danik.Id"> Добавить в карзину </a></h3>
    <h3><a href=""> Купить </a></h3>
}

