@using BV411.Models.Entities
@model List<Product>

@foreach(var Product in Model)
{
    <h2>@Product.Id</h2>
    <h1><a href="@Product.Linq@Product.Id"> @Product.Name</a></h1>
    <h3><a href="https://localhost:7213/danials/AddToBasket/0/@Product.Id"> Добавить в карзину </a></h3>
    <h3><a href=""> Купить </a></h3>
}

