@model Product

<link rel="stylesheet" href="~/css/AdminSite.css" />

<div class="edit-product">

    <h1>Добавление товара</h1>

    <form method="post">

        <input asp-for="Name"
               placeholder="Название" />

        <textarea asp-for="Description"
                  placeholder="Описание"></textarea>

        <input asp-for="Price"
               placeholder="Цена" />

        <input asp-for="Image"
               placeholder="Ссылка на фото" />

        <button type="submit">
            Добавить
        </button>

    </form>

</div>
