<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Барахолка</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <a asp-controller="Product"
           asp-action="Index"
           class="logo-btn">
            Барахолка
        </a>

        <section class="search-section">
            <input type="text" placeholder="Поиск товаров...">
            <button>Найти</button>
        </section>
        <div class="buttons">
            <button>Каталог</button>
            @if (Context.Session.GetInt32("UserId") == null)
            {
                <button onclick="location.href='/Account/Auth'">

                    Избранное

                </button>
            }
            else
            {
                <button onclick="location.href='/Favorite/Index'">

                    Избранное

                </button>
            }
            @if (Context.Session.GetInt32("UserId") == null)
            {
                <button onclick="location.href='/Account/Auth'">

                    Корзина

                </button>
            }
            else
            {
                <button onclick="location.href='/Basket/Index'">
                    Корзина
                    </button>
            }
            @if (Context.Session.GetInt32("UserId") == null)
            {
                <button onclick="location.href='/Account/Auth'">
                    Войти
                </button>
            }
            else
            {
                <button onclick="location.href='/Profile'">
                    Профиль
                </button>
            }
        </div>
    </header>

    @if (
    ViewContext.RouteData.Values["controller"]?.ToString() == "Product" && ViewContext.RouteData.Values["action"]?.ToString() == "Index")
    {
        <section class="hero">

            <h1>Добро пожаловать на Барахолку</h1>

            <p>100% легально и 100% не из Escape From Tarkov</p>

            <button onclick="location.href='/Product/Index'">
                Перейти в каталог
            </button>

        </section>
    }

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="footer-content">

            <div>
                <h3>Барахолка</h3>
                <p>Площадка для покупки и продажи товаров.</p>
            </div>

            <div>
                <h3>Контакты</h3>
                <p>Email: support@baraholka.ru</p>
                <p>Телефон: +8 (800) 555-35-35</p>
            </div>

            <div>
                <h3>Информация</h3>
                <p>Пользовательское соглашение</p>
                <p>Политика конфиденциальности</p>
            </div>

        </div>

        <div class="footer-bottom">
            © 2026 Барахолка. Все права защищены.
        </div>

    </footer>

</body>

</html>