@using BV411.Models.rip

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BV411</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BV411.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <h1>POLKA</h1>
        <div>
            <a href="https://localhost:7213/">главная</a>
            @if (UserRip.ActivUser != null)
            {
                <a href="https://localhost:7213/basket/index/@UserRip.ActivUser.Basket.Id">корзина</a>
            }
            @if (UserRip.ActivUser == null)
            {
                <a href="https://localhost:7213/authorization/index">корзина</a>
            }

            <a href="">избраное</a>
            @if (UserRip.ActivUser == null)
            {
                <a href="https://localhost:7213/authorization/index">аккаунт</a>
            }
            @if (UserRip.ActivUser != null)
            {
                <a href="https://localhost:7213/account/index/@UserRip.ActivUser.Basket.Id">аккаунт</a>
            }
            <img src="https://avatars.mds.yandex.net/i?id=32d0917f2ea866e29e21119f0abf13b93d1b5463-12421862-images-thumbs&n=13" alt="">

        </div>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
