@{
    ViewData["Title"] = "Восстановление пароля";
}

<link rel="stylesheet" href="~/css/AuthSite.css">

<div class="auth-wrapper">

    <div class="auth-card">

        <h1>Восстановление пароля</h1>

        @if (ViewBag.Error != null)
        {
            <div class="error">
                @ViewBag.Error
            </div>
        }

        @if (ViewBag.Success != null)
        {
            <div class="success">
                @ViewBag.Success
            </div>
        }

        <form method="post" class="auth-form">

            <input type="text"
                   name="login"
                   placeholder="Логин"
                   required />

            <input type="password"
                   name="newPassword"
                   placeholder="Новый пароль"
                   required />

            <button type="submit">
                Изменить пароль
            </button>

            <a asp-action="Login">
                Вернуться ко входу
            </a>

        </form>

    </div>

</div>