@{
    ViewData["Title"] = "Забыли пароль";
}

<link rel="stylesheet" href="~/css/AuthSite.css">

<div class="auth-wrapper">

    <div class="auth-card">

        <h1>Забыли пароль? 🤔</h1>

        <p style="margin:20px 0;font-size:20px;">
            Такое бывает...
        </p>

        <p style="margin-bottom:35px;">
            Постарайтесь в следующий раз его не забывать 😄
        </p>

        <button class="auth-btn"
                onclick="location.href='/Account/ForgotPassword'">
            Не передумали? 🤔
        </button>

    </div>

</div>