@using BV411.Models.transport
@model HomeTransport

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="~/css/home/style.css">

</head>
<body>
    <div class="content">
        @foreach (var cart in Model.Products) {
            <div class="card">
                <button class="favourites"></button>
                <img src="@cart.limq" alt="">
                <h3>@cart.Name</h3>
                <p>
                    @cart.Description
                </p>
                @if(Model.User == null)
                {
                    <a class="take" href="https://localhost:7213/authorization/index">добавить</a>
                }
                @if(Model.User != null){
                    <a class="take" href="https://localhost:7213/pirats/add/@cart.Id">добавить</a>
                }
            </div>
        }
    </div>
</body>
</html>