@model User
<link rel="stylesheet" href="~/css/ProfileSite.css">
<main class="profile-wrapper">

    <div class="profile-card">

        <div class="avatar">
            <img src="@Model.Avatar" />
        </div>

        <h2>@Model.Login</h2>

        <div class="profile-info">
            <p>@Model.Email</p>
            <p>@Model.Phone</p>
        </div>

        <button onclick="location.href='/Profile/Edit'">
            Редактировать профиль
        </button>

    </div>

</main>