html, body {
    height: 100%;
}

body {
    margin: 0;
}

/* центр страницы */
.auth-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

/* карточка */
.auth-card {
    width: 420px;
    background: #2a2a2a;
    padding: 40px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

/* кнопки */
.auth-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
}

.login-btn,
.register-btn {
    padding: 12px 20px;
    border-radius: 10px;
    background: #3b3b3b;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

    .login-btn:hover,
    .register-btn:hover {
        background: #555;
    }
.forgot-link {
    color: #4da3ff;
    text-decoration: none;
    margin-top: 10px;
}

    .forgot-link:hover {
        text-decoration: underline;
    }

.success {
    background: #1e4d2b;
    color: #9cff9c;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}