body {
    margin: 0px;
    padding: 0px;
    background: #c7e2cb;
    position: relative;
    scroll-behavior: smooth;
    font-family: impact;
    color: #000;
}

header {
    background: #ffffff77;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

    header div {
        gap: 20px;
        display: flex;
        font-size: 25px;
        align-items: center;
    }

        header div a {
            text-decoration: none;
            color: #000;
        }

        header div img {
            height: 50px;
            border-radius: 100%;
            border: 2px solid #00000077;
        }

button {
    cursor: pointer;
}
